{$DEVSHIP_DOMAIN} {
    @backend path /auth* /users* /teams* /companies* /projects* /applications* /application-environments* /deployment-requests*

    handle @backend {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}
